.sky-analytics {

    a.active {
    }

    .sky-analytics-periods {
        a {
            font-size: 12px;

            &.active {
                font-weight: bold;
            }
        }

        a + a {
            margin-left: 5px;
        }
    }

    .sky-chart {
        position: relative;

        .sky-graph {
            display: flex;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }


            ul {
                list-style-type: none;

                li {
                    border-top: 0;
                    line-height: 26px;

                    span {
                        display: inline-block;
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }

        &.loading {
            .sky-graph {
                opacity: 0.5;
            }
        }
    }

    .-red {
        color: #F02E28;
    }

}

.skybrud-analytics {
    .table.table-bordered.table-condensed {
        margin: 0;

        > thead > tr > th {
            padding: 5px 10px;
        }
    }
}

.sky-analytics-users {
    .umb-overlay {
        width: 950px !important;
        iframe {
            width: 100%;
            height: 500px;
        }
    }
}

.sky-analytics-history {
    position: relative;

    .umb-box-content {
        position: relative;
        min-height: 150px;

        .umb-empty-state {
            max-width: initial;
        }
    }

    &.loading {
        .umb-box-content {
            opacity: 0.5;
        }
    }
}

.sky-analytics-profile-selector {
    dl {
        margin-top: 0;
    }
}