<div class="sky-analytics sky-analytics-users">
    <div class="umb-box">
        <div class="umb-box-header">
            <div class="umb-box-header-title">
                Users
            </div>
            <a href="#" prevent-default ng-click="add()" class="btn btn-success btn-xs">Add user</a>
        </div>
        <div class="umb-box-content" style="position: relative; min-height: 75px;">
            <umb-empty-state position="center" ng-show="users.length == 0">There are currently no users.</umb-empty-state>
            <div ng-show="users.length > 0">
                <table class="table list">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>
                                <code>{{user.userId}}</code>
                            </td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td style="text-align: right;">
                                <a href="#" prevent-default ng-click="delete(user)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <umb-overlay ng-if="overlay.show" model="overlay" position="right" view="overlay.view"></umb-overlay>
</div>