<div class="sky-analytics-history" ng-controller="Skybrud.Analytics.History as vm">
    <div class="umb-box">
        <div class="umb-box-header">
            <div class="umb-box-header-title">{{vm.block.title}}</div>
            <div class="sky-analytics-periods">
                <a ng-repeat="period in vm.block.periods" href="#" prevent-default ng-click="vm.load(period.alias)" ng-class="{'active': vm.period == period.alias}">{{period.name}}</a>
            </div>
        </div>
        <div class="umb-box-content">
            <umb-empty-state position="center" ng-show="vm.data && !vm.data.history.hasData">
                <strong>No data</strong><br />
                Oh noes. Google Analytics have no data for the selected period.
            </umb-empty-state>
            <umb-empty-state position="center" ng-show="vm.error">
                <strong>{{vm.error.title || 'Error'}}</strong><br />
                {{vm.error.message}}
            </umb-empty-state>
            <dashboard-chart ng-if="vm.data.history.hasData" items="vm.data.history.items" />
        </div>
    </div>
</div>